<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveChartDll" version="1.0.0" targetFramework="net48" />
  <package id="Yungku.DevExpress" version="15.2.4" targetFramework="net48" />
  <package id="YungkuSystem" version="1.0.24" targetFramework="net48" />
  <package id="YungkuSystem.Devices" version="1.0.12" targetFramework="net48" />
  <package id="YungkuSystem.ExternalControl" version="1.0.2" targetFramework="net48" />
</packages>